* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  color: #fff;
  background-color: #c7f9cc;
  padding: 2.5rem;
  position: relative;
}
.sidebar {
  background-color: #b7e4c7;
  flex-basis: 75rem;
  margin-top: 5rem;
  padding: 3rem 4rem 3rem 5rem;
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}

.logo img {
  position: absolute;
  top: 1rem;
  left: 2rem;
  height: 6rem;
  border-radius: 5px;
  margin-bottom: 5rem;

  align-self: center;
  justify-self: center;
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 2.5rem;
  background-color: #40916c;
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  height: fit-content;
  transition: all 0.5s, transform 1ms;
  box-shadow: 2px 2px 2px 1px #5c8472;
  margin-bottom: 3rem;
}
.form__row {
  display: flex;
  align-items: center;
}
.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}
.hidden {
  display: none;
}
.form__input {
  width: 100%;
  color: rgb(63, 61, 61);
  font-size: 1.5rem;
  background-color: #d7d4d4;
  border: none;
  padding: 0.5rem 0.75rem;
  transition: all 0.5s;
  border-radius: 3px;
}
.completed {
  background-color: rgb(79, 79, 162);
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 5px;
}
.in-progress {
  background-color: rgb(66, 128, 66);
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 5px;
}
.cancelled {
  background-color: rgb(157, 31, 31);
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 5px;
}
.btn__part {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.form__btn {
  cursor: pointer;
  border: none;
  width: 100%;
  color: #d7d4d4;
  font-weight: 600;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  justify-self: center;
  background-color: rgb(26, 105, 26);
}
.form__btn:hover {
  background-color: rgb(25, 92, 25);
}
.btn__submit {
  padding: 1.2rem 1.5rem;
}
.btn__completed {
  background-color: rgb(53, 53, 163);
}
.btn__completed:hover {
  background-color: rgb(48, 48, 130);
}
.btn__delete {
  background-color: rgb(161, 29, 29);
}
.btn__delete:hover {
  background-color: rgb(135, 29, 29);
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 1.5rem 2.25rem;
  gap: 0.75rem 1.5rem;
  background-color: #1b4332;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.task__title {
  font-size: 1.7rem;
}
.list__details {
  display: flex;
  align-items: baseline;
}
.list__icon {
  font-size: 1.8rem;
  height: 0.28rem;
  margin-right: 0.2rem;
}
.list__value {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.list__unit {
  font-size: 1.1rem;
  font-weight: 800;
}
#second-section {
  flex-basis: 50%;
  margin-top: 5rem;
  height: 100vh;
  padding: 7rem 2rem;
  background-color: #b7e4c7;
  border-left: 2px solid #91c3ad;
}
